@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Hiragino Kaku Gothic Pro',sans-serif;
  letter-spacing: 2px;
  text-align: center;
}

.btn {
  height: 40px;
  background-color: #da6b64;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  letter-spacing: 2px;
}

.btn a {
  font-weight: lighter;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.btn a:hover {
  color: white;
  text-decoration: none;
}

.btn:hover {
  background-color: #f0867e;
  cursor: pointer;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: white;
  z-index: 3;
}

.logo p {
  display: inline-block;
  font-weight: 10px;
  font-size: 14px;
  font-weight: bold;
}

.logo img {
  height: 40px;
}

.logo .btn {
  border-radius: 50px;
}

main {
  padding-top: 75px;
}

.eyecatch {
  background-image: url(img/eyecatch.jpeg);
  background-size: cover;
  height: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: table;
}

.eyecatch .container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  background: radial-gradient(circle, white 5%, white 40%, transparent);
}

.eyecatch .container img {
  width: 300px;
  height: auto;
  text-align: center;
}

.eyecatch .container h1 {
  font-size: 24px;
  font-weight: 600;
}

.eyecatch .container h1 br {
  display: block;
  content: "";
  margin: 20px 0;
}

.eyecatch .container h2 {
  font-weight: 600;
  font-size: 16px;
  margin-top: 30px;
}

.info {
  height: 85vh;
  width: 100%;
  background-color: #f7c23c;
  color: white;
  text-align: center;
}

.info p {
  margin: 0;
  padding: 1em;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 20px;
}

.info p:nth-child(2) {
  background-color: whitesmoke;
  color: red;
  padding: 5px;
  border-radius: 2px;
  margin-top: 5px;
  margin-bottom: 16px;
  display: inline-block;
}

.info .btn {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 100px;
  margin-top: 24px;
  margin-bottom: 32px;
  border-radius: 50px;
}

.info .btn ~ p {
  line-height: 3em;
}

.introduction {
  padding-top: 30px;
  font-size: 20px;
}

.introduction > p {
  font-weight: lighter;
  letter-spacing: 2px;
  color: #4e4a4a;
  font-size: 16px;
}

.introduction h2 {
  padding: 30px;
  position: relative;
  margin: 0 auto;
  width: 860px;
  font-size: 24px;
}

.introduction h2::before, .introduction h2::after {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
}

.introduction h2::before, .introduction h2::after {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
}

.introduction h2::before {
  border-left: solid 4px #f7c23c;
  border-top: solid 4px #f7c23c;
  top: 0;
  left: 0;
}

.introduction h2::after {
  border-right: solid 4px #f7c23c;
  border-bottom: solid 4px #f7c23c;
  bottom: 0;
  right: 0;
}

.introduction strong {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(0, #f7c23c));
  background-image: linear-gradient(transparent 70%, #f7c23c 0);
  font-weight: bold;
  color: black;
}

.image_road {
  background-size: cover;
  width: 100%;
  height: 150px;
  background-position: 0 80%;
  background-image: url(img/intro_image.jpeg);
}

.about {
  position: relative;
  font-size: 20px;
  text-align: center;
  padding-top: 100px;
  background-color: #fef5e0;
  height: 600px;
}

.about h2 {
  margin: 0;
  padding: 30px;
  position: relative;
}

.about h2::before, .about h2::after {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
}

.about h2::before {
  border-left: solid 4px #f7c23c;
  border-top: solid 4px #f7c23c;
  top: 0;
  left: 15%;
}

.about h2::after {
  border-right: solid 4px #f7c23c;
  border-bottom: solid 4px #f7c23c;
  bottom: 0;
  right: 15%;
}

.about p {
  font-weight: bold;
}

.about p:nth-child(2) {
  margin-top: 1rem;
}

.about p:nth-of-type(2) {
  padding-top: 3em 0;
}

.about-icon {
  border: solid 1px #f7c23c;
  background-color: #f7c23c;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  text-align: center;
  color: white;
  line-height: 70px;
  font-size: 12px;
  position: absolute;
  top: -40px;
  right: 48%;
}

.skill {
  border: solid 2px #f7c23c;
  border-radius: 5px;
  background-color: white;
  padding: 30px 0;
  width: 90%;
  margin: 50px auto;
}

.skill .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill .skills p {
  font-size: 12px;
  font-weight: normal;
}

.skill .skills div {
  margin-right: 3%;
}

.about-second {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAWklEQVQoU2NkYGAwZmBgOMsAAQ0MDAyzGBgYnsH4jFAGSJEvVAFISIqBgSENxIcpAOncjM0kkAKQJAiDAIZJIAUg4+B2opsEswJuJ7pJyG5AcT3MJHQ3YJgEAAqBF1b6db33AAAAAElFTkSuQmCC), url(img/step_images.jpeg);
  background-position: left top, right bottom;
  background-repeat: repeat;
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
}

.about-second h2 {
  margin-top: 0;
  padding-top: 55px;
  font-size: 28px;
}

.about-second h2, .about-second > p {
  color: white;
}

.about-second > p > span, .about-second .break span {
  color: #f7c23c;
}

.about-second p {
  font-size: 18px;
  font-weight: bold;
}

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}

.steps .step {
  border-radius: 5px;
  background-color: white;
  padding: 30px;
  margin-right: 15px;
  width: 30%;
}

.steps .step:last-of-type {
  margin-right: 0;
  margin-bottom: 0;
}

.steps .step p:first-of-type {
  background-color: #f7c23c;
  color: white;
  border-radius: 5px;
  margin-top: 0;
}

.steps .step p:nth-child(2) {
  font-size: 15px;
}

.break {
  text-align: center;
  background-color: #016ea9;
}

.break p {
  margin: 0;
  padding: 35px 0;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

/* 学べること */
.learn {
  text-align: center;
  padding-top: 50px;
}

.learn p {
  padding: 30px;
}

.learn p:first-of-type {
  font-size: 20px;
  font-weight: 30;
}

.learn p:last-of-type {
  font-weight: bold;
}

.learn .learn-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.learn .learn-img img {
  width: 13%;
  height: 13%;
  margin-right: 3%;
}

.learn .learn-img img:last-of-type {
  margin-right: 0;
}

.learn span {
  font-size: 15px;
}

.merits {
  background-color: #fef5e0;
  position: relative;
}

.merits .merits_title {
  text-align: center;
  padding: 50px;
  position: relative;
  padding: 5%;
}

.merits .merits_title h2 {
  margin-top: 0;
}

.merits .merits_title::before, .merits .merits_title::after {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
}

.merits .merits_title::before {
  border-left: solid 4px #f7c23c;
  border-top: solid 4px #f7c23c;
  top: 20%;
  left: 15%;
}

.merits .merits_title::after {
  border-right: solid 4px #f7c23c;
  border-bottom: solid 4px #f7c23c;
  bottom: 20%;
  right: 15%;
}

.merits .merit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.merits .merit > .section > p {
  font-size: 15px;
  margin: 5px;
  text-align: left;
  color: #3f3c3c;
  font-size: 300;
}

.merits .merit > .section {
  width: calc((100%-50px)/3);
  margin-right: 25px;
}

.merits .merit > .section:last-of-type {
  margin-right: 0;
}

.merits .merit .section img {
  width: 100%;
  height: 40%;
}

.merits .add {
  border: solid 2px #f7c23c;
  border-radius: 5px;
  background: white;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.merits .add h2 {
  margin-top: 50px;
}

.merits .add h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 20px 0;
}

.merits .add > p {
  padding-bottom: 50px;
}

.merits > p:last-of-type {
  text-align: center;
  font-size: 0.8em;
  color: #3f3c3c;
  padding: 30px;
  margin-bottom: 0;
}

.merit h3, .add h2 {
  color: #f7c23c;
  margin: 5px;
  font-size: 24px;
  font-weight: 600;
}

.member {
  background-image: url(img/member_bg.jpeg);
  top: 0;
  left: 50%;
  color: white;
  text-align: center;
  background-size: cover;
  background-position: left;
}

.member h2 {
  padding-top: 80px;
  margin-top: 0;
}

.member .members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
}

.member .members p:last-of-type {
  text-align: left;
}

.member .members .wrapper img {
  position: absolute;
  top: -180px;
  right: 25%;
  border-radius: 50%;
}

.member .members .wrapper .relative {
  position: relative;
  margin-top: 200px;
}

.member .members .wrapper .relative .introduce {
  border: solid 3px white;
  width: 80%;
  padding: 20px;
  margin: 0 auto;
}

.member .members .wrapper:last-of-type {
  padding-bottom: 30px;
}

.q {
  padding-top: 30px;
  position: relative;
  background-color: #f7c23c;
  color: white;
  text-align: center;
}

.q .qna {
  border-radius: 50%;
  background-color: white;
  display: table;
  height: 80px;
  width: 80px;
  margin: 0 auto;
}

.q .qna p {
  vertical-align: middle;
  color: #f7c23c;
  display: table-cell;
}

.q h2 {
  padding: 30px 0;
  margin-bottom: 0;
  font-size: 18px;
}

.q h2::before, .q h2::after {
  border-left: solid 4px white;
  border-top: solid 4px white;
}

.q h2::before {
  top: 0;
  left: 15%;
}

.q h2::after {
  bottom: 0;
  right: 15%;
}

.q h2 br {
  display: block;
  content: "";
  margin: 20px 0;
}

.q:after {
  content: '';
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #f7c23c;
  position: absolute;
  left: 50%;
  margin-left: -30px;
}

/* 提携会社 */
.voices {
  margin-top: 50px;
}

.voices p {
  color: #3f3c3c;
}

.voices p:nth-child(3) {
  font-size: 0.8em;
}

.voices .voice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
  margin: 30px auto;
}

.voices .voice img {
  border: 3px solid #f7c23c;
  width: 200px;
  height: 200px;
}

.voices .voice .comment {
  width: 60%;
  text-align: left;
  margin-top: 1rem;
}

.voices .voice .comment > p {
  color: #918d8d;
}

.voices .voice .comment .company {
  border-bottom: 1px solid #918d8d;
  display: inline-block;
  margin-top: 0;
}

/* イサラで学べる内容 */
.study {
  background-image: url(img/study_bg.jpeg);
  background-size: cover;
}

.study h2, .study > p, .study .card-header {
  color: white;
}

.study h2 {
  font-size: 30px;
  padding-top: 50px;
}

.study p {
  padding-bottom: 30px;
}

.study .case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
  margin: 0 auto;
}

.study .case .card {
  border: solid 2px #016ea9;
  border-radius: 5px;
  width: 390px;
  margin: 0;
  font-weight: bold;
  margin-bottom: 70px;
}

.study .case .card h2 {
  background-color: #016ea9;
  padding: 20px;
}

.study .case .card:last-of-type {
  margin-bottom: 300px;
}

.study .case .card .card-header {
  font-size: 18px;
  font-weight: 600;
}

.study .case .card .c-body {
  padding: 0;
}

.study .case .card .c-body p {
  border-bottom: dotted 1px #918d8d;
  margin-top: 16px;
  padding-bottom: 16px;
}

.study .case .card .c-body p:last-of-type {
  margin-top: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.support {
  background-color: #016ea9;
  color: white;
  padding: 1.5em 0;
  font-weight: bold;
  font-size: 20px;
}

/* 受講の流れ */
.flow {
  padding: 4em 0;
}

.flow img:first-child {
  margin: 5% 0;
}

.flow .describe {
  background-color: #fef5e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  padding: 3%;
  width: 90%;
}

.flow .describe .right-session {
  text-align: left;
  width: 80%;
}

.flow .describe .right-session small {
  padding-top: 2em;
  display: inline-block;
}

.flow .describe .right-session p:first-of-type, .flow .describe .right-session p:nth-child(3) {
  font-weight: bold;
}

.flow .describe .right-session p:last-of-type {
  margin-bottom: 0;
}

.flow .describe .left-session p {
  font-size: 18px;
  font-weight: bold;
  margin-top: 1em;
}

/* なぜバンコク */
.why {
  background-image: url("img/temple.jpeg");
  background-size: cover;
  position: relative;
  height: 500px;
  padding: 10%;
  text-align: left;
  color: white;
  width: 100%;
}

.why::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(116, 224, 161, 0.5);
}

.why .why-content {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10%;
}

.why .why-content h4 {
  margin-bottom: 1em;
  font-weight: bold;
}

.why .why-content ul {
  padding-left: 16px;
}

.why .why-content li {
  margin-bottom: 0.5em;
  font-weight: bold;
}

.why .why-content p {
  font-size: 14px;
}

/* 参加特典 */
.benefit {
  background-color: #f7c23c;
  padding: 50px;
}

.benefit h2 {
  margin: 30px 0;
  font-weight: 600;
  font-size: 26px;
}

.benefit > p {
  margin-bottom: 100px;
}

.benefit p:first-of-type {
  font-weight: 700;
}

.benefit .white {
  color: white;
}

.benefit .relative {
  width: 100%;
  margin: 0 auto;
}

.benefit .relative h2 {
  width: 45%;
  margin: 0 auto;
  position: absolute;
  top: -40px;
  left: 30%;
  background-color: #f7c23c;
}

.benefit .relative .benefits {
  border: solid 2px white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.benefit .relative .benefits .three-benefits {
  background-color: white;
  border-radius: 50%;
  margin: 40px auto;
}

.benefit .relative .benefits .three-benefits p:first-of-type {
  color: #f7c23c;
  font-size: 28px;
  font-weight: 100;
}

.benefit .relative .benefits .three-benefits .circle {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.benefit .relative .benefits .three-benefits .circle .circle-inner {
  position: absolute;
  width: 90%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* 最大の価値 */
.no-volunteer {
  background-image: url("img/volunteer.jpeg");
  background-size: cover;
  height: 500px;
  width: 100%;
  position: relative;
}

.no-volunteer .no-volunteer-inner {
  padding: 70px 0;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-weight: 600;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.no-volunteer .no-volunteer-inner > p {
  margin: 30px 0;
  font-size: 20px;
}

.no-volunteer .second::before {
  border-left: solid 4px white;
  border-top: solid 4px white;
  top: 47%;
  left: 15%;
}

.no-volunteer .second::after {
  border-right: solid 4px white;
  border-bottom: solid 4px white;
  bottom: 37%;
  right: 15%;
}

.no-volunteer::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.no-volunteer .second::before, .no-volunteer .second::after {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
}

/* 創業者からのメッセージ */
.message {
  margin: 70px 0;
  width: 70%;
  margin: 80px auto;
  font-weight: bold;
}

.message > p {
  margin: 50px 0;
  font-size: 18px;
}

.message .message-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.message .message-contain p {
  text-align: left;
  font-size: 14px;
  font-weight: 300;
}

.message .message-contain img {
  width: 20%;
  height: 50%;
  margin-right: 5%;
}

/* form */
#form {
  padding-top: 10%;
  margin-top: 10%;
}

.form {
  background-color: #f7c23c;
  font-weight: bold;
  padding-bottom: 5%;
}

.form .btn {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  margin-top: 24px;
  margin-bottom: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  color: white;
  font-size: 20px;
  letter-spacing: 1em;
}

.form > form {
  border-radius: 10%;
  width: 60%;
  margin: 0 auto;
}

.form > form input[type='text'] {
  margin: 15px 0;
  height: 50px;
}

.form > form textarea {
  height: 80px;
  width: 100%;
  margin: 30px 0;
}

.form h2 {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 30px;
}

/* よくある質問 */
.question {
  margin: 5% 0;
}

.question h2 {
  font-size: 26px;
  font-weight: bold;
}

.question .accbox {
  margin: 2em auto;
  padding: 0;
  max-width: 80%;
  /*最大幅*/
  text-align: left;
}

.question .accbox label {
  border: 1px solid #e5e5e5;
  display: block;
  margin: 1.5px 0;
  padding: 13px 12px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 16px;
}

.question .accbox input {
  display: none;
}

.question .accbox .icon-blue {
  color: #3554df;
}

.question .accbox label:after {
  content: "\f078";
  font-family: 'Font Awesome 5 Free';
  padding-right: 8px;
  font-weight: 900;
  display: inline-block;
  color: #e5e5e5;
  float: right;
}

.question .accbox label:hover {
  border-bottom: 1px solid black;
  padding: 0 auto;
}

.question .accbox .accshow {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.question .accbox .accshow p {
  margin: 15px 10px;
  font-weight: 600;
}

.question .accbox .cssacc:checked + label + .accshow {
  height: auto;
  padding: 5px;
  opacity: 1;
}

.question .accbox .cssacc:checked + label:after {
  content: "\f077";
  font-family: 'Font Awesome 5 Free';
  padding-right: 8px;
  font-weight: 900;
  display: inline-block;
  color: #e5e5e5;
  float: right;
}

footer {
  background-color: #e5e5e5;
  padding: 3% 0 2%;
}

footer small {
  font-size: 10px;
  font-weight: 200;
}

footer .share {
  margin-top: 1rem;
}
/*# sourceMappingURL=index.css.map */