html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Hiragino Kaku Gothic Pro',sans-serif;
  letter-spacing: 2px;
  text-align: center;
}

.btn {
  height: 40px;
  background-color: #da6b64;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  letter-spacing: 2px;
}

.btn a {
  font-weight: lighter;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.btn a:hover {
  color: white;
  text-decoration: none;
}

.btn:hover {
  background-color: #f0867e;
  cursor: pointer;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: white;
  z-index: 3;
}

.logo p {
  display: inline-block;
  font-weight: 10px;
  font-size: 14px;
  font-weight: bold;
}

.logo img {
  height: 40px;
}

.logo .btn {
  border-radius: 50px;
}

main {
  padding-top: 75px;
}

.eyecatch {
  background-image: url(img/eyecatch.jpeg);
  background-size: cover;
  height: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: table;
}

.eyecatch .container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  background: radial-gradient(circle, white 5%, white 40%, transparent);
}

.eyecatch .container img {
  width: 300px;
  height: auto;
  text-align: center;
}

.eyecatch .container h1 {
  font-size: 24px;
  font-weight: 600;
}

.eyecatch .container h1 br {
  display: block;
  content: "";
  margin: 20px 0;
}

.eyecatch .container h2 {
  font-weight: 600;
  font-size: 16px;
  margin-top: 30px;
}

.info {
  height: 100vh;
  width: 100%;
  background-color: #f7c23c;
  color: white;
  text-align: center;
}

.info p {
  margin: 0;
  padding: 1em;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 20px;
}

.info p:nth-child(2) {
  background-color: whitesmoke;
  color: red;
  padding: 5px;
  border-radius: 2px;
  margin-top: 5px;
  margin-bottom: 16px;
  display: inline-block;
}

.info .btn {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 100px;
  margin-top: 24px;
  margin-bottom: 32px;
  border-radius: 50px;
}

.info .btn ~ p {
  line-height: 3em;
}

.introduction {
  padding-top: 30px;
  font-size: 20px;
}

.introduction > p {
  font-weight: lighter;
  letter-spacing: 2px;
  color: #4e4a4a;
  font-size: 16px;
}

.introduction h2 {
  padding: 30px;
  position: relative;
  margin: 0 auto;
  width: 860px;
  font-size: 24px;
}

.introduction h2::before, .introduction h2::after {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
}

.introduction h2::before, .introduction h2::after {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
}

.introduction h2::before {
  border-left: solid 4px #f7c23c;
  border-top: solid 4px #f7c23c;
  top: 0;
  left: 0;
}

.introduction h2::after {
  border-right: solid 4px #f7c23c;
  border-bottom: solid 4px #f7c23c;
  bottom: 0;
  right: 0;
}

.introduction strong {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(0, #f7c23c));
  background-image: linear-gradient(transparent 70%, #f7c23c 0);
  font-weight: bold;
  color: black;
}

.image_road {
  background-size: cover;
  width: 100%;
  height: 150px;
  background-position: 0 80%;
  background-image: url(img/intro_image.jpeg);
}

.about {
  position: relative;
  font-size: 20px;
  text-align: center;
  padding-top: 100px;
  background-color: #fef5e0;
  height: 600px;
}

.about h2 {
  margin: 0;
  padding: 30px;
  position: relative;
}

.about h2::before, .about h2::after {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
}

.about h2::before {
  border-left: solid 4px #f7c23c;
  border-top: solid 4px #f7c23c;
  top: 0;
  left: 15%;
}

.about h2::after {
  border-right: solid 4px #f7c23c;
  border-bottom: solid 4px #f7c23c;
  bottom: 0;
  right: 15%;
}

.about p {
  font-weight: bold;
}

.about p:nth-child(2) {
  margin-top: 1rem;
}

.about p:nth-of-type(2) {
  padding-top: 3em 0;
}

.about-icon {
  border: solid 1px #f7c23c;
  background-color: #f7c23c;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  text-align: center;
  color: white;
  line-height: 70px;
  font-size: 12px;
  position: absolute;
  top: -40px;
  right: 48%;
}

.skill {
  border: solid 2px #f7c23c;
  border-radius: 5px;
  background-color: white;
  padding: 30px 0;
  width: 90%;
  margin: 50px auto;
}

.skill .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill .skills p {
  font-size: 12px;
  font-weight: normal;
}

.skill .skills div {
  margin-right: 3%;
}

.about-second {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAWklEQVQoU2NkYGAwZmBgOMsAAQ0MDAyzGBgYnsH4jFAGSJEvVAFISIqBgSENxIcpAOncjM0kkAKQJAiDAIZJIAUg4+B2opsEswJuJ7pJyG5AcT3MJHQ3YJgEAAqBF1b6db33AAAAAElFTkSuQmCC), url(img/step_images.jpeg);
  background-position: left top, right bottom;
  background-repeat: repeat;
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
}

.about-second h2 {
  margin-top: 0;
  padding-top: 55px;
  font-size: 28px;
}

.about-second h2, .about-second > p {
  color: white;
}

.about-second > p > span, .about-second .break span {
  color: #f7c23c;
}

.about-second p {
  font-size: 18px;
  font-weight: bold;
}

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}

.steps .step {
  border-radius: 5px;
  background-color: white;
  padding: 30px;
  margin-right: 15px;
  width: 30%;
}

.steps .step:last-of-type {
  margin-right: 0;
  margin-bottom: 0;
}

.steps .step p:first-of-type {
  background-color: #f7c23c;
  color: white;
  border-radius: 5px;
  margin-top: 0;
}

.steps .step p:nth-child(2) {
  font-size: 15px;
}

.break {
  text-align: center;
  background-color: #016ea9;
}

.break p {
  margin: 0;
  padding: 35px 0;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
/*# sourceMappingURL=index.css.map */